.header
  = render partial: 'items/header', locals: { user: @user, item: @item }
  
.main
  = render partial: 'items/main', locals: { users: @users, items: @items }
  
.footer
  = render 'items/footer'